
<a routerLink="/login" class="logo" >
    <img src="../../assets/icons8-wechat-200.png" alt="">
</a>

<!-- auth-form.component.html -->
<div class="section">
    <div class="container">
      

            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <!-- Login -->
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h2 class="mb-4 pb-3">Forgot Password</h2>
                      <div class="form-group">
                        <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      
                      <a routerLink="#" class="btn mt-4">Send</a>
                      
                    </div>
                  </div>
                </div>
  
               
  
              </div>
            </div>
          </div>
        </div>
   
  